{% extends 'base.html' %}
{% load static %}

{% block title %}
    Выход из аккаунта
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/logged_out.css' %}?20221027">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h1>Вы вышли из своего аккаунта</h1>
        <p>
            Вы можете
            <a href="{% url 'Account:login' %}" class="login-link">войти</a>
            снова
        </p>
    </div>
{% endblock page_content %}
