{% extends 'base.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/login.css' %}?20221027">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h1>Вход</h1>
        {% if form.errors %}
            <p>Введен неверный логин или пароль. Попробуйте снова</p>
        {% endif %}
        <div class="login-form">
            <form action=".", method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input class="login-button" type="submit" value="Войти"></p>
                <p><a class="link" href="{% url 'Account:password_reset' %}">Забыли пароль?</a></p>
                <p><a class="link" href="{% url 'Account:register' %}">Зарегистрироваться</a></p>
            </form>
        </div>
    </div>

{% endblock page_content %}
