{% extends 'base.html' %}
{% load static %}

{% block title %}
    Личный кабинет
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/' %}?20221027">
{% endblock css_links %}

{% block page_content %}
    <h2>Восстановление пароля</h2>
    <p>Введите адрес электронной почты для получения инструкции по восстановлению пароля</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Получить сообщение на почту"></p>
        {% csrf_token %}
    </form>
{% endblock page_content %}
