{% extends 'base.html' %}
{% load static %}

{% block title %}
    Личный кабинет
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/password_reset_form.css' %}?20221027">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h2>Восстановление пароля</h2>
        <p>Введите адрес электронной почты для получения инструкции по восстановлению пароля</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input class="submit-button" type="submit" value="Получить сообщение на почту"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock page_content %}
