{% extends 'base.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/' %}?20221027">
{% endblock css_links %}

{% block page_content %}
    <h1>Восстановление пароля</h1>
    {% if validvink %}
        <p>Введите новый пароль</p>
        <form action="." method="post">
            {{ form.as_p }}
            <input type="submit" value="Установить новый пароль">
            {% csrf_token %}
        </form>
    {% else %}
        <p>
            Ссылка на восстановление пароля недействительна. Возможно, ссылка уже была использована. Выполните повторный
            запрос на восстановление пароля
        </p>
    {% endif %}
{% endblock page_content %}
