{% extends 'base.html' %}
{% load static %}

{% block title %}
    Регистрация
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Account/css/register.css' %}?20220909">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h1>Регистрация</h1>
        <h2>Заполните следующие поля:</h2>
        <form action="." method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input class="register-button" type="submit" value="Зарегистрироваться"></p>
        </form>
    </div>
{% endblock page_content %}
