{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Blog/css/main-page.css' %}?20220908">
{% endblock css_links %}

{% block page_content %}
    {% for post in posts %}
        <div class="post">
            <a href="{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>
            <p>{{ post.text|truncatewords:100 }}</p>
            <p>{{ post.pub_date }}</p>
        </div>
    {% endfor %}
    </ul>
{% endblock page_content %}
