{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'Blog/css/post-detail.css' %}?20220909">
{% endblock css_links %}

{% block page_content %}

    <div class="post-content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        <p>Дата публикации: {{ post.pub_date }}</p>
        <p>Теги:
            {% with post.tags.all as post_tags %}
                {% if post_tags %}
                    {% for tag in post_tags %}
                        <a href="{% url 'Blog:tag_posts' tag.slug %}">#{{ tag }}</a>
                    {% endfor %}
                {% else %}
                    <i>У данного поста нет отмеченных тегов</i>
                {% endif %}
            {% endwith %}
        </p>
    </div>

    <div class="share-post">
        <a href="{% url 'Blog:post_share' post.id %}">Поделиться постом</a>
    </div>

    <div class="comments">
        {% with comments as all_comments %}
            <p class="count-comments">Комментариев: {{ all_comments.count }}</p>
            <h2 class="comments-head">Комментарии:</h2>
            {% for comment in all_comments %}
                <div class="comment">
                    <p class="author-comment">{{ comment.name }}</p>
                    <p class="comment-text">{{ comment.text|linebreaks }}</p>
                    <p class="comment-date">{{ comment.created }}</p>
                </div>
            {% empty %}
                <p>Нет комментариев</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="new_comment">
        {% if new_comment %}
            <h2>Комментарий добавлен</h2>
        {% else %}
            <h2>Добавить комментарий</h2>
            <div class="add-comment-form">
                <form action="." method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Добавить комментарий"></p>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock page_content %}
