{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'Blog/css/base.css' %}?20221027">
    {% block css_links %} {% endblock css_links %}
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="/static/img/blog-logo.png" alt="BLOG"  width="100px">
        </div>
        <nav>
            <a href="{% url 'Blog:main_page' %}" class="nav-link">Главная</a>
            <a href="#" class="nav-link">О сайте</a>
            <a href="#" class="nav-link">Популярное</a>
            <a href="{% url 'Blog:all_posts' %}" class="nav-link">Все посты</a>
        </nav>
    </div>


    <div class="container">
        {% block page_content %} {% endblock page_content %}
    </div>

</body>
</html>
