input {
    font-size: 18px;
}

.standart-container {
    display: block;
    background-color: #bfc9da;
    padding: 10px; 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 0px;
    text-align: center;
    width: 500px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.save-changes-button {
    background-color: #82B93C;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    opacity: 0.9;
}

.save-changes-button:hover {
    text-decoration: underline;
    opacity: 1;
}
